<div class="back_to_list">
  <a href="/zoznam_pacientov">Späť na zoznam pacientov</a>
</div>

<div class="qustionaire_info">
  <h3>{{patientName}} {{patientSurname}}</h3>
  <h4>Dátum vyplnenia dotazníka: {{creationDate}}</h4>
</div>

<div class="row_content" id="0">
  <div class="question-group">
    <p>Dotazník vypĺňal: </p>
  </div>
  <div class="radio-group">
    {{creator}}
  </div>
</div>

<div class="section">
  <h2>Čas na spanie</h2>
</div>

<div class="row_content" id="1">
  <div class="question-group">
    <p>1. Napíšte obvyklý čas, kedy chodí pacient večer spať cez týždeň:</p>
  </div>
  <div class="radio-group">
    {{answer1}}
  </div>
</div>

<div class="row_content" id="2">
  <div class="question-group">
    <p>2. Napíšte obvyklý čas, kedy chodí pacient večer spať cez víkend:</p>
  </div>
  <div class="radio-group">
    {{answer2}}
  </div>
</div>

<div class="row_content" id="3">
  <div class="question-group">
    <p>3. Napíšte obvyklý čas, ako rýchlo pacient večer zaspí po uložení do postele cez týždeň:</p>
  </div>
  <div class="radio-group">
    {{answer3}}
  </div>
</div>

<div class="row_content" id="4">
  <div class="question-group">
    <p>4. Napíšte obvyklý čas, ako rýchlo pacient večer zaspí po uložení do postele cez víkend:</p>
  </div>
  <div class="radio-group">
    {{answer4}}
  </div>
</div>

<div class="row_content" id="5">
  <div class="question-group">
    <p>5. Pacient chodí večer spať v rovnakú dobu.</p>
  </div>
  <div class="radio-group">
    {{answer5}}
  </div>
</div>

<div class="row_content" id="6">
  <div class="question-group">
    <p>6. Dieťa chodí do postele neochotne.</p>
  </div>
  <div class="radio-group">
    {{answer6}}
  </div>
</div>

<div class="row_content" id="7">
  <div class="question-group">
    <p>7. Dieťa odmieta chodiť spať v čase určenom na spanie.</p>
  </div>
  <div class="radio-group">
    {{answer7}}
  </div>
</div>

<div class="row_content" id="8">
  <div class="question-group">
    <p>8. Dieťa večer zaspí do 20 minút.</p>
  </div>
  <div class="radio-group">
    {{answer8}}
  </div>
</div>

<div class="row_content" id="9">
  <div class="question-group">
    <p>9. Dieťa zaspí vo vlastnej posteli.</p>
  </div>
  <div class="radio-group">
    {{answer9}}
  </div>
</div>

<div class="row_content" id="10">
  <div class="question-group">
    <p>10. Dieťa zaspí v posteli svojich súrodencov.</p>
  </div>
  <div class="radio-group">
    {{answer10}}
  </div>
</div>

<div class="row_content" id="11">
  <div class="question-group">
    <p>11. Dieťa zaspáva pri hojdaní, kolísaní.</p>
  </div>
  <div class="radio-group">
    {{answer11}}
  </div>
</div>

<div class="row_content" id="12">
  <div class="question-group">
    <p>12. Dieťa mykne/trhne časťou tela počas zaspávania.</p>
  </div>
  <div class="radio-group">
    {{answer12}}
  </div>
</div>

<div class="row_content" id="13">
  <div class="question-group">
    <p>13. Dieťa vykonáva opakujúce sa pohyby telom alebo časťou tela pokiaľ zaspí.</p>
  </div>
  <div class="radio-group">
    {{answer13}}
  </div>
</div>

<div class="row_content" id="14">
  <div class="question-group">
    <p>14. Dieťa má/rozpráva živé predstavy pokiaľ zaspí.</p>
  </div>
  <div class="radio-group">
    {{answer14}}
  </div>
</div>

<div class="row_content" id="15">
  <div class="question-group">
    <p>15. Dieťa sa spotí počas zaspávania.</p>
  </div>
  <div class="radio-group">
    {{answer15}}
  </div>
</div>

<div class="row_content" id="16">
  <div class="question-group">
    <p>16. Dieťa sa bojí zaspať v tme.</p>
  </div>
  <div class="radio-group">
    {{answer16}}
  </div>
</div>

<div class="row_content" id="17">
  <div class="question-group">
    <p>17. Dieťa sa bojí zaspať samo v izbe.</p>
  </div>
  <div class="radio-group">
    {{answer17}}
  </div>
</div>

<div class="row_content" id="18">
  <div class="question-group">
    <p>18. Dieťa potrebuje špeciálnu vec na zaspanie (bábiku,...).</p>
  </div>
  <div class="radio-group">
    {{answer18}}
  </div>
</div>

<div class="row_content" id="19">
  <div class="question-group">
    <p>19. Dieťa vyžaduje prítomnosť rodiča pri zaspávaní.</p>
  </div>
  <div class="radio-group">
    {{answer19}}
  </div>
</div>

<div class="section">
  <h2>Spánok</h2>
</div>

<div class="row_content" id="20">
  <div class="question-group">
    <p>1. Napíšte, koľko Vaše dieťa obvykle spí počas noci cez týždeň:</p>
  </div>
  <div class="radio-group">
    {{answer20}}
  </div>
</div>

<div class="row_content" id="21">
  <div class="question-group">
    <p>2. Napíšte, koľko Vaše dieťa obvykle spí počas noci cez víkend:</p>
  </div>
  <div class="radio-group">
    {{answer21}}
  </div>
</div>

<div class="row_content" id="22">
  <div class="question-group">
    <p>3. Dieťa spí primerane.</p>
  </div>
  <div class="radio-group">
    {{answer22}}
  </div>
</div>

<div class="row_content" id="23">
  <div class="question-group">
    <p>4. Dieťa spí málo.</p>
  </div>
  <div class="radio-group">
    {{answer23}}
  </div>
</div>

<div class="row_content" id="24">
  <div class="question-group">
    <p>5. Dieťa spí veľa.</p>
  </div>
  <div class="radio-group">
    {{answer24}}
  </div>
</div>

<div class="row_content" id="25">
  <div class="question-group">
    <p>6. Dieťa sa v noci pomočuje.</p>
  </div>
  <div class="radio-group">
    {{answer25}}
  </div>
</div>

<div class="row_content" id="26">
  <div class="question-group">
    <p>7. Dieťa sa pomočuje počas dňa.</p>
  </div>
  <div class="radio-group">
    {{answer26}}
  </div>
</div>

<div class="row_content" id="27">
  <div class="question-group">
    <p>8. Dieťa hovorí zo sna.</p>
  </div>
  <div class="radio-group">
    {{answer27}}
  </div>
</div>

<div class="row_content" id="28">
  <div class="question-group">
    <p>9. Dieťa je počas spánku nepokojné, pohybuje končatinami, odkopáva perinu alebo často mení polohu.</p>
  </div>
  <div class="radio-group">
    {{answer28}}
  </div>
</div>

<div class="row_content" id="29">
  <div class="question-group">
    <p>10. Dieťa chodí počas noci (je námesačné).</p>
  </div>
  <div class="radio-group">
    {{answer29}}
  </div>
</div>

<div class="row_content" id="30">
  <div class="question-group">
    <p>11. Dieťa sa zobudí so spánku na bolesť.</p>
  </div>
  <div class="radio-group">
    {{answer30}}
  </div>
</div>

<div class="row_content" id="31">
  <div class="question-group">
    <p>12. Dieťa škrípe zubami počas spánku.</p>
  </div>
  <div class="radio-group">
    {{answer31}}
  </div>
</div>

<div class="row_content" id="32">
  <div class="question-group">
    <p>13. Dieťa nahlas chrápe počas spánku.</p>
  </div>
  <div class="radio-group">
    {{answer32}}
  </div>
</div>

<div class="row_content" id="33">
  <div class="question-group">
    <p>14. Dieťa prestane na chvíľu dýchať počas spánku.</p>
  </div>
  <div class="radio-group">
    {{answer33}}
  </div>
</div>

<div class="row_content" id="34">
  <div class="question-group">
    <p>15. Dieťa ťažko dýcha počas spánku.</p>
  </div>
  <div class="radio-group">
    {{answer34}}
  </div>
</div>

<div class="row_content" id="35">
  <div class="question-group">
    <p>16. Dieťa sa výraznejšie potí počas spánku.</p>
  </div>
  <div class="radio-group">
    {{answer35}}
  </div>
</div>

<div class="row_content" id="36">
  <div class="question-group">
    <p>17. Dieťa má problémy so spánkom mimo domova.</p>
  </div>
  <div class="radio-group">
    {{answer36}}
  </div>
</div>

<div class="row_content" id="37">
  <div class="question-group">
    <p>18. Dieťa sa budí počas noci s plačom, krikom alebo zmetené, ťažko sa ho darí utíšiť a na túto nočnú udalosť si
      ráno nepamätá.</p>
  </div>
  <div class="radio-group">
    {{answer37}}
  </div>
</div>

<div class="row_content" id="38">
  <div class="question-group">
    <p>19. Dieťa máva nočné mory, na ktoré si ráno nepamätá.</p>
  </div>
  <div class="radio-group">
    {{answer38}}
  </div>
</div>

<div class="row_content" id="39">
  <div class="question-group">
    <p>20. Dieťa sa zobudí 1 krát počas noci.</p>
  </div>
  <div class="radio-group">
    {{answer39}}
  </div>
</div>

<div class="row_content" id="40">
  <div class="question-group">
    <p>21. Dieťa sa budí 2 a viac krát počas noci.</p>
  </div>
  <div class="radio-group">
    {{answer40}}
  </div>
</div>

<div class="row_content" id="41">
  <div class="question-group">
    <p>22. Dieťa po prebudení počas noci má problém znova zaspať.</p>
  </div>
  <div class="radio-group">
    {{answer41}}
  </div>
</div>

<div class="row_content" id="42">
  <div class="question-group">
    <p>23. Napíšte, koľko minút obvykle trvá prebudenie dieťaťa počas noci:</p>
  </div>
  <div class="radio-group">
    {{answer42}}
  </div>
</div>

<div class="section">
  <h2>Ranné vstávanie</h2>
</div>

<div class="row_content" id="43">
  <div class="question-group">
    <p>1. Napíšte obvyklý čas vstávania Vášho dieťaťa počas týždňa:</p>
  </div>
  <div class="radio-group">
    {{answer43}}
  </div>
</div>

<div class="row_content" id="44">
  <div class="question-group">
    <p>2. Napíšte obvyklý čas vstávania Vášho dieťaťa počas víkendu:</p>
  </div>
  <div class="radio-group">
    {{answer44}}
  </div>
</div>

<div class="row_content" id="45">
  <div class="question-group">
    <p>3. Dieťa sa zobudí ráno samé.</p>
  </div>
  <div class="radio-group">
    {{answer45}}
  </div>
</div>

<div class="row_content" id="46">
  <div class="question-group">
    <p>4. Dieťa sa zobudí ráno pomocou budíka.</p>
  </div>
  <div class="radio-group">
    {{answer46}}
  </div>
</div>

<div class="row_content" id="47">
  <div class="question-group">
    <p>5. Dieťa vstáva so zlou náladou.</p>
  </div>
  <div class="radio-group">
    {{answer47}}
  </div>
</div>

<div class="row_content" id="48">
  <div class="question-group">
    <p>6. Dieťa zobudí ráno súrodenec alebo rodič.</p>
  </div>
  <div class="radio-group">
    {{answer48}}
  </div>
</div>

<div class="row_content" id="49">
  <div class="question-group">
    <p>7. Dieťa ráno odmieta vstať / budí sa veľmi ťažko.</p>
  </div>
  <div class="radio-group">
    {{answer49}}
  </div>
</div>

<div class="row_content" id="50">
  <div class="question-group">
    <p>8. Dieťa vstáva ráno veľmi skoro.</p>
  </div>
  <div class="radio-group">
    {{answer50}}
  </div>
</div>

<div class="row_content" id="51">
  <div class="question-group">
    <p>9. Dieťa je ráno hladné a chutí mu.</p>
  </div>
  <div class="radio-group">
    {{answer51}}
  </div>
</div>

<div class="row_content" id="52">
  <div class="question-group">
    <p>10. Dieťa sa zobudí ráno unavené.</p>
  </div>
  <div class="radio-group">
    {{answer52}}
  </div>
</div>

<div class="row_content" id="53">
  <div class="question-group">
    <p>11. Dieťa sa ráno cíti stuhnuté/neschopné sa hýbať.</p>
  </div>
  <div class="radio-group">
    {{answer53}}
  </div>
</div>

<div class="section">
  <h2>Spánok počas dňa</h2>
</div>

<div class="row_content" id="54">
  <div class="question-group">
    <p>1. Dieťa zaspáva počas dňa.</p>
  </div>
  <div class="radio-group">
    {{answer54}}
  </div>
</div>

<div class="row_content" id="55">
  <div class="question-group">
    <p>2. Dieťa zrazu zaspí počas nejakej činnosti (napr. hra).</p>
  </div>
  <div class="radio-group">
    {{answer55}}
  </div>
</div>

<div class="row_content" id="56">
  <div class="question-group">
    <p>3. Dieťa vyzerá unavene počas dňa.</p>
  </div>
  <div class="radio-group">
    {{answer56}}
  </div>
</div>

<div class="row_content" id="57">
  <div class="question-group">
    <p>4. Napíšte, pri akých činnostiach dieťa zaspí, alebo je unavené počas dňa:</p>
  </div>
  <div class="radio-group">
    {{answer57}}
  </div>
</div>

<script>
  for (var rowNumber = 1; rowNumber <= 57; rowNumber++) {
    if (rowNumber % 2 == 0) {
      document.getElementById(rowNumber).style.backgroundColor = '#FFFFFF';
    } else {
      document.getElementById(rowNumber).style.backgroundColor = '#ACCEE5';
    }
  }
</script>