<div class="back_to_list">
  <a href="/zoznam_pacientov">Späť na zoznam pacientov</a>
</div>

<div id="registration_container">
  <div class="form-control">
    <label>Meno:</label>
    <label>{{patientName}}</label>
  </div>

  <div class="form-control">
    <label>Priezvisko:</label>
    <label>{{patientSurname}}</label>
  </div>

  <div class="form-control">
    <label>Pohlavie:</label>
    <label>{{patientGender}}</label>
  </div>

  <div class="form-control">
    <label>Dátum narodenia:</label>
    <label>{{patientBirthDate}}</label>
  </div>

  <div class="form-control">
    <label>Vek:</label>
    <label>{{patientAge}}</label>
  </div>

  <div class="form-control">
    <label>Výška:</label>
    <label>{{patientHeight}}</label>
  </div>

  <div class="form-control">
    <label>Váha:</label>
    <label>{{patientWeight}}</label>
  </div>

  <div class="form-control">
    <label>BMI:</label>
    <label>{{patientBMI}}</label>
  </div>

  <div class="form-control">
    <label>Obvod krku:</label>
    <label>{{patientNeckCircuit}}</label>
  </div>
</div>

<script>

</script>