<div class="back_to_list">
  <a href="/zoznam_pacientov">Späť na zoznam pacientov</a>
</div>

<div id="registration_container">
  <form action="/vyber_dotaznika" method="post" id="patientForm">
    <div class="form-control">
      <label>Meno:</label>
      <input type="text" id="name" value="{{patientName}}">
      <p>Nezadali ste meno pacienta.</p>
    </div>

    <div class="form-control">
      <label>Priezvisko:</label>
      <input type="text" id="surname" value="{{patientSurname}}">
      <p>Nezadali ste priezvisko pacienta.</p>
    </div>

    <div class="form-control">
      <label>Dátum narodenia:</label>
      <input type="date" id="birthDate" value="{{patientBirthDate}}" pattern="\d{2}/\m{2}/\y{4}">
      <p>Nezadali ste dátum narodenia pacienta.</p>
    </div>

    <div class="form-control">
      <label>Výška:</label>
      <input type="number" id="height" value="{{patientHeight}}">
      <p>Nezadali ste výšku pacienta.</p>
    </div>

    <div class="form-control">
      <label>Váha:</label>
      <input type="number" id="weight" value="{{patientWeight}}">
      <p>Nezadali ste váhu pacienta.</p>
    </div>

    <div class="form-control">
      <label>Obvod krku:</label>
      <input type="number" id="neckCircuit" value="{{patientNeckCircuit}}">
      <p>Nezadali ste obvod krku pacienta.</p>
    </div>

    <div>
      <button class="action_button_2" id="reset_button" type="reset">Obnoviť</button>
      <button class="action_button_2" id="save_button" type="submit">Uložiť</button>
    </div>
  </form>
</div>

<script>
  const form = document.getElementById('patientForm');
  const name = document.getElementById('name');
  const surname = document.getElementById('surname');
  const birthDate = document.getElementById('birthDate');
  const height = document.getElementById('height');
  const weight = document.getElementById('weight');
  const neckCircuit = document.getElementById('neckCircuit');

  let error = false;
  
  $('input').change(function () {
    error = false;
  });

  $('#save_button').click(function (e) {
    e.preventDefault();
    checkInputs();
    if (error) return;
    let formValues = {};
    $('input').each(function () {
      var el = $(this); // this ukazuje na input
      formValues[el.attr('id')] = el.val();
    });
    console.log(formValues);
    $.ajax({
      type: 'POST',
      url: '/uprava_pacienta?pacient=' + getUrlParameter('pacient'),
      data: JSON.stringify(formValues),
      contentType: 'application/json',
      dataType: 'json',
      success: function (data, status) {
        window.location = '/zoznam_pacientov';
      },
      error: function(error) {
        console.log(error);
      }
    })
  });

  var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1),
      sURLVariables = sPageURL.split('&'),
      sParameterName,
      i;

    for (i = 0; i < sURLVariables.length; i++) {
      sParameterName = sURLVariables[i].split('=');

      if (sParameterName[0] === sParam) {
        return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
      }
    }
  };

  function checkInputs() {

    const nameValue = name.value.trim();
    const surnameValue = surname.value.trim();
    const birthDateValue = birthDate.value.trim();
    const heightValue = height.value.trim();
    const weightValue = weight.value.trim();
    const neckCircuitValue = neckCircuit.value.trim();

    if (nameValue === '') {
      setErrorFor(name, 'Nevyplnili ste meno pacienta.');
    } else {
      setSuccessFor(name);
    }

    if (surnameValue === '') {
      setErrorFor(surname, 'Nevyplnili ste priezvisko pacienta.');
    } else {
      setSuccessFor(surname);
    }

    if (birthDateValue === '') {
      setErrorFor(birthDate, 'Nevyplnili ste dátum narodenia pacienta.');
    } else {
      setSuccessFor(birthDate);
    }

    if (heightValue === '') {
      setErrorFor(height, 'Nevyplnili ste výšku pacienta.');
    } else {
      setSuccessFor(height);
    }

    if (weightValue === '') {
      setErrorFor(weight, 'Nevyplnili ste hmotnosť pacienta.');
    } else {
      setSuccessFor(weight);
    }

    if (neckCircuitValue === '') {
      setErrorFor(neckCircuit, 'Nevyplnili ste obvod krku pacienta.');
    } else {
      setSuccessFor(neckCircuit);
    }
  }

  function setErrorFor(input, message) {
    const formControl = input.parentElement;
    const small = formControl.querySelector('p');
    //add error message inside small
    small.innerText = message;
    // add error class
    formControl.className = 'form-control error';
    error = true;
  }

  function setSuccessFor(input) {
    const formControl = input.parentElement;
    formControl.className = 'form-control success';
  }

</script>