<style>
  td div {
    height: 35px;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  td div img {
    height: 35px;
    display: inline-block;
  }

  td img:hover {
    cursor: pointer;
  }
</style>

<div id="filter_container">
  <div id="filter_position">
    <form class="filter">
      <div class="filter_header">
        <label>FILTER</label>
      </div>
      <div>
        <div class="filter_title">
          <label>Priezvisko pacienta</label>
        </div>
        <div>
          <input type="text" id="surname" value="{{surname}}">
        </div>
      </div>
      <div>
        <button class="action_button_2" id="filterBtn">Potvrdiť</button>
      </div>
    </form>

    <form class="filter" method="GET">

      <div class="filter_title">
        <label>Počet pacientov</label>
      </div>

      <div>
        <input type="number" id="numberOfPatients" name="numberOfPatients">
      </div>

      <div>
        <button class="action_button_2" id="excelBtn">Generuj Excel</button>
      </div>

    </form>
  </div>
</div>

<div id="patient_list_container">
  <table id="list">
    <tr class="borders">
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Dátum narodenia</th>
      <th class="hidden">ID</th>
      <th>Možnosti</th>
    </tr>

    {{#each informations}}
    <tr id="{{@index}}">
      <td id="patientName-{{@index}}">{{this.name}}</td>
      <td id="patientSurname-{{@index}}">{{this.surname}}</td>
      <td id="patientDate-{{@index}}">{{this.birthDate}}</td>
      <td id="patientID-{{@index}}" class="hidden">{{this.ID}}</td>
      <td>
        <div>
          <img class="showInfo" onmouseover="this.src='/static/images/user_hover.png'"
            onmouseout="this.src='/static/images/user.png'" src="/static/images/user.png" alt="Show patients"
            title="Zobraziť pacienta" />
          <img class="updateInfo" onmouseover="this.src='/static/images/editUser_hover.png'"
            onmouseout="this.src='/static/images/editUser.png'" src="/static/images/editUser.png" alt="Edit patients"
            title="Upraviť pacienta">
          <img class="showQuestionaires" onmouseover="this.src='/static/images/list_hover.png'"
            onmouseout="this.src='/static/images/list.png'" src="/static/images/list.png" alt="Show questionaires"
            title="Zobraziť dotazníky">
          <img class="updateQuestionaires" onmouseover="this.src='/static/images/editList_hover.png'"
            onmouseout="this.src='/static/images/editList.png'" src="/static/images/editList.png"
            alt="Edit questionaires" title="Upraviť dotazníky">
        </div>
      </td>
    </tr>
    {{/each}}
  </table>
</div>

<script>
  var numberOfRows = $('table tr').length;

  for (var rowNumber = 1; rowNumber < numberOfRows - 1; rowNumber++) {
    if (rowNumber % 2 == 0) {
      document.getElementById(rowNumber).style.backgroundColor = '#FFFFFF';
    } else {
      document.getElementById(rowNumber).style.backgroundColor = '#ACCEE5';
    }
  }

  var getPatientId = function getPatientId(element) {
    var rowID = element.parentNode.parentNode.parentNode.id;
    var patientId = document.getElementById('patientID-' + rowID).textContent;
    return patientId;
  };

  $(".showInfo").each(function () {
    $(this).click(function () {
      window.location = '/informacie_o_pacientovi?pacient=' + getPatientId(this);
    })
  });

  $(".updateInfo").each(function () {
    $(this).click(function () {
      window.location = '/uprava_pacienta?pacient=' + getPatientId(this);
    })
  });

  $(".showQuestionaires").each(function () {
    $(this).click(function () {
      window.location = '/zoznam_dotaznikov_pacienta?pacient=' + getPatientId(this);
    })
  });

  $(".updateQuestionaires").each(function () {
    $(this).click(function () {
      window.location = '/vyber_dotaznika?pacient=' + getPatientId(this);
    })
  })

  $('#filterBtn').click(function (e) {
    e.preventDefault();

    var surname = $('#surname').val();
    var url = '/zoznam_pacientov?surname=' + encodeURIComponent(surname);
    window.location = url;
  });

  $("#excelBtn").click(function (e) {
    e.preventDefault();

    var formValues = {
      numberOfPacients: $('#numberOfPatients').val(),
      surname: $('#surname').val()
    };

    console.log(formValues);
    $.ajax({
      type: 'POST',
      url: '/generuj_excel',
      data: JSON.stringify(formValues),
      contentType: 'application/json',
      dataType: 'json',
      success: function (data, status) {
        console.log(data)
      },
      error: function (error) {
        alert('Pri vytvarani excelu vznikla chyba');
      }
    })
  });
</script>