<style>
  .borders {
    background-color: rgb(0, 67, 116);
    text-align: left;
    color: white;
    height: 30px;
    border: 0;
  }

  #patient_list_container th {
    width: 150px;
  }

  #list button {
    background-color: white;
    border: 1px solid rgb(0, 67, 116);
    border-radius: 2px;
    color: rgb(0, 67, 116);
    width: 150px;
    height: 19px;
    font-weight: bold;
  }

  #list td {
    padding-left: 10px;
    height: 44px;
  }

  #list th {
    padding-left: 10px;
  }

  .hidden {
    display: none;
  }

  #list {
    border-collapse: collapse;
    border: 2px solid rgb(0, 67, 116);
    border-radius: 5px;
  }

  #list tr {
    border-bottom: 1px solid rgb(0, 67, 116);
  }

  #filter {
    border: 2px solid rgb(0, 67, 116);
    border-radius: 5px;
    margin-right: 15px;
  }
</style>

<div id="filter_container">
  <div id="filter_position">
    <form id="filter">
      <div>
        <label>FILTER</label>
      </div>
      <div>
        <div>
          <label class="filter_title">Priezvisko pacienta</label>
        </div>
        <div>
          <input type="text" id="surname">
        </div>
      </div>

      <div>
        <div>
          <label class="filter_title">Dátum</label>
        </div>
        <div>
          <label>Od</label>
        </div>
        <div>
          <input type="date" id="dateFrom">
        </div>
        <div>
          <label>Do</label>
        </div>
        <div>
          <input type="date" id="dateTo">
        </div>
      </div>
      <div>
        <button class="action_button_2" id="filterBtn">Potvrdiť</button>
      </div>
    </form>
    <div>
      <button class="action_button_2">Generuj Excel</button>
    </div>
  </div>
</div>

<div id="patient_list_container">
  <table id="list">
    <tr class="borders">
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Dátom narodenia</th>
      <th class="hidden">ID</th>
      <th>Možnosti</th>
    </tr>

    {{#each informations}}
    <tr id="{{@index}}">
      <td id="patientName-{{@index}}">{{this.name}}</td>
      <td id="patientSurname-{{@index}}">{{this.surname}}</td>
      <td id="patientDate-{{@index}}">{{this.birthDate}}</td>
      <td id="patientID-{{@index}}" class="hidden">{{this.ID}}</td>
      <td>
        <button class="showInfo">Zobraziť informácie</button>
        <button class="showQuestionaires">Zobraziť dotazníky</button>
        <button class="updateInfo">Upraviť informácie</button>
        <button class="updateQuestionaires">Upraviť dotazníky</button>
      </td>
    </tr>
    {{/each}}
  </table>
</div>

<script>
  var numberOfRows = $('table tr').length;

  for (var rowNumber = 1; rowNumber < numberOfRows - 1; rowNumber++) {
    if (rowNumber % 2 == 0) {
      document.getElementById(rowNumber).style.backgroundColor = '#FFFFFF';
    } else {
      document.getElementById(rowNumber).style.backgroundColor = '#ACCEE5';
    }
  }

  var getPatientId = function getPatientId(element) {
    var rowID = element.parentNode.parentNode.id;
    var patientId = document.getElementById('patientID-' + rowID).textContent;
    return patientId;
  };

  $(".showInfo").each(function () {
    $(this).click(function () {
      window.location = '/informacie_o_pacientovi?pacient=' + getPatientId(this);
    })
  });

  $(".updateInfo").each(function () {
    $(this).click(function () {
      window.location = '/uprava_pacienta?pacient=' + getPatientId(this);
    })
  });

  $(".showQuestionaires").each(function () {
    $(this).click(function () {
      window.location = '/zoznam_dotaznikov_pacienta?pacient=' + getPatientId(this);
    })
  });

  $(".updateQuestionaires").each(function () {
    $(this).click(function () {
      window.location = '/vyber_dotaznika?pacient=' + getPatientId(this);
    })
  })
</script>