<div id="registration_container">
  <form action="/vyber_dotaznika" method="post" id="patientForm">
    <div class="form-control">
      <label>Meno:</label>
      <input type="text" id="name" value="{{patientName}}">
      <p>Nezadali ste meno pacienta.</p>
    </div>

    <div class="form-control">
      <label>Priezvisko:</label>
      <input type="text" id="surname" value="{{patientSurname}}">
      <p>Nezadali ste priezvisko pacienta.</p>
    </div>

    <div class="form-control">
      <label>Pohlavie:</label>
      <select id="gender" name="gender">
        <option value="chlapec">chlapec</option>
        <option value="dievča">dievča</option>
      </select>
    </div>

    <div class="form-control">
      <label>Dátum narodenia:</label>
      <input type="date" id="birthDate" value="{{patientBirthDate}}">
      <p>Nezadali ste dátum narodenia pacienta.</p>
    </div>

    <div class="form-control">
      <label>Výška:</label>
      <input type="number" id="height" value="{{patientHeight}}">
      <p>Nezadali ste výšku pacienta.</p>
    </div>

    <div class="form-control">
      <label>Váha:</label>
      <input type="number" id="weight" value="{{patientWeight}}">
      <p>Nezadali ste váhu pacienta.</p>
    </div>

    <div class="form-control">
      <label>Obvod krku:</label>
      <input type="number" id="neckCircuit" value="{{patientNeckCircuit}}">
      <p>Nezadali ste obvod krku pacienta.</p>
    </div>

    <div>
      <button class="action_button_2" id="reset_button" type="reset">Vymazať</button>
      <button class="action_button_2" id="save_button" type="submit">Uložiť</button>
    </div>
  </form>
</div>

<script>
  const form = document.getElementById('patientForm');
  const name = document.getElementById('name');
  const surname = document.getElementById('surname');
  const birthDate = document.getElementById('birthDate');
  const height = document.getElementById('height');
  const weight = document.getElementById('weight');
  const neckCircuit = document.getElementById('neckCircuit');

  let error = false;

  $('input').change(function () {
    error = false;
  });

  function changeDateFormat(dateObject) {
    const d = new Date(dateObject);
    const day = d.getDate();
    const month = d.getMonth() + 1;
    const year = d.getFullYear();
    const date = day + "." + month + "." + year;
    return date;
  }

  $.date = function (dateObject) {
    var d = new Date(dateObject);
    var day = d.getDate();
    var month = d.getMonth() + 1;
    var year = d.getFullYear();
    if (day < 10) {
      day = "0" + day;
    }
    if (month < 10) {
      month = "0" + month;
    }
    var date = day + "." + month + "." + year;
    return date;
  };

  $('#save_button').click(function (e) {
    e.preventDefault();
    checkInputs();
    if (error) return;
    let formValues = {
      informations: []
    };
    $('input').each(function () {
      var el = $(this); // this ukazuje na input

      if (el.attr('id') == 'height' || el.attr('id') == 'weight' || el.attr('id') == 'neckCircuit') {
        formValues.informations.push(el.val());
      }
      else if (el.attr('id') == 'birthDate') {
        formValues[el.attr('id')] = changeDateFormat(el.val());
      }
      else {
        formValues[el.attr('id')] = el.val();
      }

    });
    formValues.gender = $("#gender option:selected").text();
    formValues.informations.push($.date(new Date()));
    formValues.MqForm = [];
    formValues.CsqForm = [];
    formValues.EssForm = [];
    formValues.OsasForm = [];
    // pridat funkciu na overenie, ci sa pacient nachadza v DB
    // window.location = '/isPatientPresent';

    $.ajax({
      type: 'POST',
      url: '/registracia_pacienta',
      data: JSON.stringify(formValues),
      contentType: 'application/json',
      dataType: 'json',
      success: function (data, status) {
        window.location = '/vyber_dotaznika?pacient=' + data.id;
        //window.location = '/registracia_pacienta';
        //if (data['success']) {
          //alert("Pacient už bol registrovaný v systéme dňa ");
          //window.location = '/vyber_dotaznika?pacient=' + data.id;
        //}
      },
      error: function (error) {
        console.log(error);
      }
    })
  });

  function checkInputs() {

    const nameValue = name.value.trim();
    const surnameValue = surname.value.trim();
    const birthDateValue = birthDate.value.trim();
    const heightValue = height.value.trim();
    const weightValue = weight.value.trim();
    const neckCircuitValue = neckCircuit.value.trim();

    if (nameValue === '') {
      setErrorFor(name, 'Nevyplnili ste meno pacienta.');
    } else {
      setSuccessFor(name);
    }

    if (surnameValue === '') {
      setErrorFor(surname, 'Nevyplnili ste priezvisko pacienta.');
    } else {
      setSuccessFor(surname);
    }

    if (birthDateValue === '') {
      setErrorFor(birthDate, 'Nevyplnili ste dátum narodenia pacienta.');
    } else {
      setSuccessFor(birthDate);
    }

    if (heightValue === '') {
      setErrorFor(height, 'Nevyplnili ste výšku pacienta.');
    } else {
      setSuccessFor(height);
    }

    if (weightValue === '') {
      setErrorFor(weight, 'Nevyplnili ste hmotnosť pacienta.');
    } else {
      setSuccessFor(weight);
    }

    if (neckCircuitValue === '') {
      setErrorFor(neckCircuit, 'Nevyplnili ste obvod krku pacienta.');
    } else {
      setSuccessFor(neckCircuit);
    }
  }

  function setErrorFor(input, message) {
    const formControl = input.parentElement;
    const small = formControl.querySelector('p');
    //add error message inside small
    small.innerText = message;
    // add error class
    formControl.className = 'form-control error';
    error = true;
  }

  function setSuccessFor(input) {
    const formControl = input.parentElement;
    formControl.className = 'form-control success';
  }

</script>