<style>
  .container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  tr:nth-child(even) {
    background: #ACCEE5
  }
</style>

<div class="container">
  <div id="patien-head">
    <p>{{patientName}} {{patientSurname}}</p>
    <p>Narodený: {{patientBirthDate}} ({{patientAge}} rokov)</p>
  </div>
  <div id="patient-body">
    <table id="list">
      <tr class="borders">
        <th>Vyšetrenie</th>
        <th>Dátum</th>
        <th>Výška (cm)</th>
        <th>Váha (kg)</th>
        <th>BMI</th>
        <th>Obvod krku (cm)</th>
      </tr>
      {{#each infos}}
      <tr>
        <td>Vyšetrenie č. {{this.numberOfVisit}}</td>
        <td>{{this.date}}</td>
        <td>{{this.height}}</td>
        <td>{{this.weight}}</td>
        <td>{{this.bmi}}</td>
        <td>{{this.neckCircuit}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>