<style>
  .borders {
    background-color: #ACCEE5;
    text-align: center;
    border: 0;
  }

  #patient_list_container th {
    width: 150px;
  }

  .table_btn {
    background-color: white;
    border: 1px solid rgb(0, 67, 116);
    border-radius: 2px;
    color: rgb(0, 67, 116);
  }
</style>

<div id="filter_container">
  <div id="filter_position">
    <form method="POST">
      <div>
        <label>FILTER</label>
      </div>
      <div>
        <div>
          <label class="filter_title">Meno pacienta</label>
        </div>
        <div>
          <input type="text">
        </div>
      </div>

      <div>
        <div>
          <label class="filter_title">Dátum</label>
        </div>
        <div>
          <label>Od</label>
        </div>
        <div>
          <input type="date">
        </div>
        <div>
          <label>Do</label>
        </div>
        <div>
          <input type="date">
        </div>
      </div>
      <div>
        <button class="action_button_2">Potvrdiť</button>
      </div>
    </form>
    <div>
      <button class="action_button_2">Generuj Excel</button>
    </div>
  </div>
</div>

<div id="patient_list_container">
  <table>
    <tr class="borders">
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Dátom narodenia</th>
      <th>Možnosti</th>
    </tr>

    {{#each informations}}
    <tr id="{{@index}}">
      <td id="patientName-{{@index}}">{{this.name}}</td>
      <td id="patientSurname-{{@index}}">{{this.surname}}</td>
      <td id="patientDate-{{@index}}">{{this.birthDate}}</td>
      <td>
        <button class="table_btn" id="showInfo">Zobraziť informácie</button>
        <button class="table_btn" id="showQuestionaire">Zobraziť dotazníky</button>
        <button class="table_btn" id="updateInfo">Upraviť informácie</button>
        <button class="table_btn" id="updateQuestionaire">Upraviť dotazníky</button>
      </td>
    </tr>
    {{/each}}
  </table>
</div>

<script>
  $("#showInfo").click(function () {
    var rowID = this.parentNode.parentNode.id;
    var tablePatientInfo = {
      name: document.getElementById('patientName-' + rowID).textContent,
      surname: document.getElementById('patientSurname-' + rowID).textContent,
      birthDate: document.getElementById('patientDate-' + rowID).textContent
    };
    console.log(tablePatientInfo);
    $.ajax({
      type: 'POST',
      url: '/zoznam_pacientov',
      data: JSON.stringify(tablePatientInfo),
      contentType: 'application/json',
      dataType: 'json',
      success: function (data, status) {
        window.location = '/informacie_o_pacientovi';
      },
      error: function (error) {
        console.log(error);
      }
    })
  });

  $("#showQuestionaire").click(function () {
    location.href = '/vyber_dotaznika';
  })
</script>