<style>
  .borders {
    background-color: #ACCEE5;
    text-align: center;
    border: 0;
  }

  #patient_list_container th {
    width: 150px;
  }

  .table_btn {
    background-color: white;
    border: 1px solid rgb(0, 67, 116);
    border-radius: 2px;
    color: rgb(0, 67, 116);
  }

  .hidden {
    display: none;
  }
</style>

<div id="filter_container">
  <div id="filter_position">
    <form>
      <div>
        <label>FILTER</label>
      </div>
      <div>
        <div>
          <label class="filter_title">Priezvisko pacienta</label>
        </div>
        <div>
          <input type="text" id="surname">
        </div>
      </div>

      <div>
        <div>
          <label class="filter_title">Dátum</label>
        </div>
        <div>
          <label>Od</label>
        </div>
        <div>
          <input type="date" id="dateFrom">
        </div>
        <div>
          <label>Do</label>
        </div>
        <div>
          <input type="date" id="dateTo">
        </div>
      </div>
      <div>
        <button class="action_button_2" id="filterBtn">Potvrdiť</button>
      </div>
    </form>
    <div>
      <button class="action_button_2">Generuj Excel</button>
    </div>
  </div>
</div>

<div id="patient_list_container">
  <table>
    <tr class="borders">
      <th>Meno</th>
      <th>Priezvisko</th>
      <th>Dátom narodenia</th>
      <th class="hidden">ID</th>
      <th>Možnosti</th>
    </tr>

    {{#each informations}}
    <tr id="{{@index}}">
      <td id="patientName-{{@index}}">{{this.name}}</td>
      <td id="patientSurname-{{@index}}">{{this.surname}}</td>
      <td id="patientDate-{{@index}}">{{this.birthDate}}</td>
      <td id="patientID-{{@index}}" class="hidden">{{this.ID}}</td>
      <td>
        <button class="showInfo">Zobraziť informácie</button>
        <button class="showQuestionaire">Zobraziť dotazníky</button>
        <button class="updateInfo">Upraviť informácie</button>
        <button class="updateQuestionaire">Upraviť dotazníky</button>
      </td>
    </tr>
    {{/each}}
  </table>
</div>

<script>
  $(".showInfo").each(function () {
    $(this).click(function () {
      var rowID = this.parentNode.parentNode.id;
      var patientId = document.getElementById('patientID-' + rowID).textContent;
      window.location = '/informacie_o_pacientovi?pacient=' + patientId;
    })
  });

  $(".updateInfo").each(function () {
    $(this).click(function () {
      var rowID = this.parentNode.parentNode.id;
      var patientId = document.getElementById('patientID-' + rowID).textContent;
      window.location = '/uprava_pacienta?pacient=' + patientId;
    })
  });
</script>